<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="18.1" />
  <package id="7zip.install" version="18.1" />
  <package id="chocolatey" version="0.10.10" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-uninstall.extension" version="1.2.0" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="everything" version="1.4.1895" />
  <package id="ffdshow" version="1.3.4531.20140718" />
  <package id="ffmpeg" version="3.4.2" />
  <package id="Ghostscript.app" version="9.23" />
  <package id="global" version="6.5.6" />
  <package id="gnuplot" version="5.0.5" />
  <package id="graphviz" version="2.38.0.20171119" />
  <package id="gsview" version="6.0.0.20150422" />
  <package id="jdk8" version="8.0.162" />
  <package id="Lein" version="2.8.1" />
  <package id="lua53" version="5.3.3" />
  <package id="mpc-hc" version="1.7.13" />
  <package id="pandoc" version="2.1.3" />
  <package id="pdftk" version="2.02" />
  <package id="PowerShell" version="5.1.14409.20180105" />
  <package id="ruby" version="2.5.1.1" />
  <package id="sumatrapdf" version="3.1.2" />
  <package id="sumatrapdf.commandline" version="3.1.2" />
  <package id="vagrant" version="2.0.3" />
  <package id="vcredist2008" version="9.0.30729.6161" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcxsrv" version="1.19.6.2" />
  <package id="virtualbox" version="5.2.8" />
  <package id="zeal.install" version="0.5.0.20180104" />
</packages>